body {
  height: 100%;
  width: 100%;
  top: 0;
  background: #000;
}

#musicplayer {
  display: none;
}

#bottom-lower-third {
  bottom: 30px;
  width: 100%;
  height: 33%;
  left: 30px;
  display: block;
}

#albumart {
  height: 300px;
  width: 300px;
  display: block;
  bottom: 30px;
}

#songblock {
  left: 310px;
  height: 300px;
  display: block;
}

#songblock #songtitle {
  color: #fff;
  display: block;
}

#songblock #songartist {
  color: #fff;
  display: block;
}
#songblock #songalbum {
  color: #fff;
  display: block;
}